  @model FilmCrawler.WebClient.Models.MoviesViewModel

@{
    ViewData["Title"] = "Movies";
}

<h2>Movies</h2>

@{
    var movieModel = Model.Movies.FirstOrDefault();
    if (movieModel != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => movieModel.Url)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => movieModel.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => movieModel.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => movieModel.DatePublished)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => movieModel.Keywords)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Movies)
                {
                    <tr>
                        <td>
                            @{
                                var url = "https://www.imdb.com" + item.Url;
                                <a href="@url" alt="linkToMovie">@url</a>
                            }

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatePublished)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Keywords)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { movieId = item.Id })
                            @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        {

            var pageCount = Model.MoviesCount / 1000+1;

            @for (var index = 0; index < pageCount; index++)
            {
                var currentHref = "/Movies?pageIndex=" + index;
                <a href=@currentHref>@index.ToString()</a>
            }
        }
    }

}

