@model FilmCrawler.WebClient.Models.DirectorViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


@{
    var directorModel = Model.Directors.FirstOrDefault();
    if (directorModel != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => directorModel.Url)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => directorModel.Name)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Directors)
                {
                    <tr>
                        <td>
                            @{
                                var url = "https://www.imdb.com" + item.Url;
                                <a href="@url" alt="linkToDirector">@url</a>
                            }

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        {

            var pageCount = Model.Count / 1000 + 1;

            @for (var index = 0; index < pageCount; index++)
            {
                var currentHref = "/Directors?pageIndex=" + index;
                <a href=@currentHref>@index.ToString()</a>
            }
        }

    }
}

